<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/post_css.css' %}" />
    <meta charset="UTF-8">
    <title>POST请求</title>
</head>
<body>
<form method="post" action="{% url 'post' %}">
    {% csrf_token %}
    <header>
        <div class="header-nav">
            <div class="logo"><img src="{% static 'img/logo.png' %}"></div>
            <div class="header-menu">
                <div class="header-menu-title"><a href="{% url 'index' %}">返回主页</a></div>
                <div class="header-menu-title"><a href="{% url 'get' %}">切换GET</a></div>
            </div>
        </div>
    </header>
    <div class="title">
        <ul>
            <li style="list-style: none;"><a href= {% url 'post' %}>清空数据</a></li>
            <li style="list-style: none;padding-right: 25px">
                <button style="border-radius:400px;cursor:pointer;width:100px;height: 35px;float: right; border:1px darkturquoise;background:#5cb85c;color: snow " type="submit" value="">发送请求</button>
            </li>
        </ul>
    </div>
    <div class="botton">
        <div class="body">
            <div class="url_post">
                <label class="name_data" style="color: #dc1414">(*)地址</label>
                <div>
                    <input class="url_input" type="url_data" name="url" style="background: gold;font-size: 20px" placeholder="{{ url }}" required="required" >
                </div>
                <label class="name_data">post请求类型</label>
                <div>
                    <select class="type_data" name="type_data" style="color: darkred;font-size: 20px" required="required">
                        <option name="type_data" style="color: darkred;font-size: 20px" value ="json">json</option>
                        <option name="type_data" style="color: darkred;font-size: 20px" value ="params">params</option>
                        <option name="type_data" style="color: darkred;font-size: 20px" value="data">data</option>
                    </select>
                </div>
                <label>header参数</label>
                <div class="header_text">
                    <textarea rows="3" type="header" name="header" style="color: darkred;font-size: 30px" placeholder="{{ header }}"></textarea>
                </div>
                <label class="name_data" style="color: #dc1414">(*)body参数</label>
                <div class="body_text">
                    <textarea rows="3" type="body" name="body" style="color: darkred;font-size: 30px" placeholder="{{ body }}" required="required"></textarea>
                </div>
                <label>返回参数</label>
                <div class="respnse">
                    <textarea readonly="value" style="color: darkred;font-size: 30px">{{ respnse }}</textarea>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>